*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    color: #fff;
    margin: 40px 0;
    background: #02012b;
    padding: 20px;
}


.container{
    max-width: 1200px;
    margin: 0 auto;
}

.header-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

form{
    display: flex;
    justify-content: center;
    gap: 10px;

}

.search-input{
    min-height: 40px;
    width: 25%;
}

.search-btn{
    background: #4657d8;
    color: #fff;
    padding: 15px;
}

.main-section{
    display: flex;
    align-items: stretch;
    gap: 30px;
    margin-top: 40px;
}

section{
    flex-grow: 1;
}

/* WEATHER TODAY */

.weather-today{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    min-height: 230px;
    background: url(img/bg-today-large.svg) no-repeat;
    background-size: cover;
    padding: 0 30px;
}

.weather-today-temp{
    display: flex;
}

.weather-today-cards{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.weather-today-stuff-item{
    width: calc(100% / 4 - 20px);
    height: 100px;
    /* width: 100px; */
}

/* WEATHER FORECAST */

.daily-forecast-cards{
    justify-content: space-between;
    display: flex;
    gap: 10px;
}

.daily-forecast h2{
    margin-top: 40px;
    margin-bottom: 20px;
}

.daiy-forecast-cards-item{
    width: calc(100% / 7 -60px);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.daily-forecast-cards-item-temp{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ASIDE */

aside{
    padding: 15px;
    width: 25%;
}

.aside-navbar{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.aside-cards{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.aside-cards-item{
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}




.dark-bg{
    background: #25253f;
}

.light-bg{
    background: #2f2f49;
}

.brad{
    border-radius: 10px;
}