*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    color: #fff;
    margin: 30px 60px;
    background: #02012b;
    font-family: "Noto Sans", sans-serif;
}

li{
    list-style-type: none;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.header-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav-block{
    position: relative;
}

.header-nav{
    padding: 10px 20px;
    display: flex;
    gap: 5px;
    cursor: pointer;
}

.header-nav p{
    margin-left: 5px;
}

.header-nav-drop-menu{
    padding: 10px;
    display: none;
}

.header-nav-block:hover .header-nav-drop-menu{
    display: block;
    margin-top: 10px;
    position: absolute;
    z-index: 1;
    width: 200px;
    right: 0px;
}

.header-nav-block:active{
    outline: 1px solid #fff;
    border-radius: 10px;
}

.header-drop-menu-title{
    color: #7f7d92;
    border-top: #27274b 1px solid;
    padding-top: 5px;
}

.header-nav-drop-menu ul li{
    margin: 10px 0;
}

.main-title{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 60px;
}

form{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.search-input{
    min-height: 40px;
    width: 45%;
    padding-left: 20px;
    color: #fff;
    border: none;
}

.search-btn{
    background: #4657d8;
    color: #fff;
    padding: 15px;
    width: 100px;
    border: none;
    cursor: pointer;
    border: 1px solid #02012b;
}

.search-btn:active{
    outline: 2px solid #4657d8;
}

.main-section{
    display: flex;
    /* align-items: stretch; */
    gap: 30px;
    margin-top: 40px;
    justify-content: space-between;
}

/* WEATHER TODAY */

.weather-today{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    min-height: 230px;
    background: url(img/bg-today-large.svg) no-repeat;
    background-size: cover;
    padding: 0 30px;
}

.weather-today-location{
    margin-bottom: 10px;
}

.weather-today-number{
    font-size: 70px;
    margin-left: 20px;
}

.weather-today-temp{
    display: flex;
    
}

.weather-today-temp img{
    width: 85px;
    height: 85px;
}

.weather-today-cards{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.weather-today-stuff-item{
    width: calc(100% / 4 - 20px);
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.weather-today-stuff-item h3{
    font-size: 16px;
    margin-top: 5px;
    font-weight: 400;
}

.weather-today-stuff-item p{
    font-size: 25px;
    font-weight: 450;
}

/* WEATHER FORECAST */

.daily-forecast-cards{
    justify-content: space-between;
    display: flex;
    gap: 10px;
}

.daily-forecast h2{
    margin-top: 40px;
    margin-bottom: 20px;
}

.daiy-forecast-cards-item{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    height: 140px;
}

.daiy-forecast-cards-item h3{
    font-weight: 550;
}

.daily-forecast-cards-item-temp{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

/* ASIDE */

aside{
    padding: 15px;
    min-width: 300px;
}

.aside-navbar{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    align-items: center;
}

.week{
    position: relative;
}

.week-day-block{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 30px;
}

.week-list{
    display: none;
}

.week:hover .week-list{
    display: block;
}

.week-list{
    margin-top: 10px;
    position: absolute;
    padding: 10px;
    width: 150px;
    right: 20px;
    z-index: 1;
}

.week-list ul li{
    padding: 10px 0;
}



.aside-cards{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.aside-cards-item{
    padding: 10px;
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aside-cards-left{
    display: flex;
    align-items: center;
}

.aside-cards-left p{
    margin-top: 5px;
}

/* IMAGES */

.weather-img{
    width: 50px;
    height: 50px;
}

.weather-img-aside{
    width: 40px;
    height: 40px;
    margin-right: 5px;
}

.dropdown-pic{
    margin-left: 5px;
}

/* COLORS */


.dark-bg{
    background: #25253f;
}

.light-bg{
    background: #2f2f49;
}

.brad{
    border-radius: 10px;
}

.outline{
    outline: #27274b 1px solid;
}

/* MEDIA */

@media(max-width: 1000px){
    .main-section{
        display: flex;
        flex-direction: column;
    }
}

@media(max-width: 800px){
    .main-section{
        display: flex;
        flex-direction: column;
    }

    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .search-input{
        width: 100%;
    }

    .search-btn{
        width: 100%;
    }

    .weather-today{
        background: url(img/bg-today-small.svg) no-repeat;
        background-size: cover;
    }

    .weather-today-cards{
        display: flex;
        gap: 15px;
        flex-wrap: wrap;
    }

    .weather-today-stuff-item{
        width: 160px;
    }

    .daily-forecast-cards{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 15px;
    }

    .daiy-forecast-cards-item{
        width: 100px;
    }
}